{
  "tabWidth": 2,
  "useTabs": false,
  "semi": true,
  "singleQuote": true,
  "trailingComma": "es5",
  "printWidth": 180,
  "importOrder?": [
    "<THIRD_PARTY_MODULES",
    "^@/app/(.*)$",
    "^@/components/(.*)$",
    "^@/hooks/(.*)$",
    "^@/providers/(.*)$",
    "^@/types/(.*)$",
    "^@/constants/(.*)$",
    "^../(.*)$",
    "^./(.*)$"
  ],
  "importOrderSeparation": true,
  "importOrderSortSpecifiers": true,
  "plugins": ["@trivago/prettier-plugin-sort-imports"]
}
