@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
  --background-body: #ffffff;
  --btn-gradient: #fc4a2e;
  --btn-gradient-start: #ff3f3a; /* Start color of the button gradient */
  --btn-gradient-end: #f75e05;
  --gray-300: #e5e8ed;
  --gray-200: #f4f5f6;
  --gray-800: #424551;
  --gray-400: #d7dadd;
  --gray-700: #787a80;
  --gray-600: #9a9ca5;
  --gray-800: #424551;
  --gray-700: #787a80;
  --gray-900: #1e212c;
  --danger: #ff4242;
  --primary: #ff3f3a;
  --secondary: #ffcf2d;
  --bg-icon: #a5a6aa;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: var(--background-body);
}

.swiper-pagination-fraction,
.swiper-pagination-custom,
.swiper-horizontal > .swiper-pagination-bullets,
.swiper-pagination-bullets.swiper-pagination-horizontal {
  bottom: 0px !important;
}

.swiper-pagination {
  z-index: 99 !important;
}

.swiper-pagination-bullet {
  width: 30px !important;
  height: 3px !important;
  background-color: var(--gray-800) !important;
  margin-right: 0.8rem !important;
  border-radius: 25px !important;
}

.swiper-pagination-bullet:last-child {
  margin-right: 0 !important;
}

.MuiFormControl-root {
  background: transparent !important;
}

.reviews .swiper-wrapper,
.preview .swiper-wrapper,
.breakpoint .swiper-wrapper,
.coverflow .swiper-wrapper {
  padding-bottom: 3rem;
}

.MuiTabs-flexContainer {
  justify-content: center;
  align-items: center;
}

.animation-pulse {
  /* box-shadow: 0 0 0 20px rgba(229,62,62, 0.5);
  transform: scale(0.8); */
  animation: pulse 2s infinite;
}

@keyframes pulse {
  0% {
    transform: scale(0.9);
    box-shadow: 0 0 0 0 rgba(229, 62, 62, 1);
  }

  70% {
    transform: scale(1);
    box-shadow: 0 0 0 20px rgba(229, 62, 62, 0);
  }

  100% {
    transform: scale(0.9);
  }
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

@layer base {
  @font-face {
    font-family: 'LatoBlack';
    src: url('../fonts/Lato-Black.ttf') format('ttf');
    font-weight: 900;
    font-style: normal;
  }
  @font-face {
    font-family: 'LatoBold';
    src: url('../fonts/Lato-Bold.ttf') format('ttf');
    font-weight: 700;
    font-style: normal;
  }
  @font-face {
    font-family: 'LatoRegular';
    src: url('../fonts/Lato-Regular.ttf') format('ttf');
    font-weight: 400;
    font-style: normal;
  }
  ol,
  ul {
    list-style: none;
    margin: 0;
    padding: 0;
  }
  a {
    text-decoration: none;
  }
  p {
    margin: 0;
    padding: 0;
  }
}
